* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--bg);
  font-family: "poppins", sans-serif;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
}

html.lenis,
html.lenis-scrolling {
  cursor: default;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  color-scheme: dark light;
  --bg: hsl(0, 0%, 0%);
  --fg: hsl(0, 0%, 95%);
  --text-primary: hsl(0, 0%, 97%);
  --text-secondary: hsl(0, 0%, 70%);
  --text-dark: #111;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: hsl(0, 0%, 97%);
    --text-dark: hsl(0, 0%, 7%);
    --text-light: hsl(0, 0%, 47%);
  }
}

.loader {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #ffff;
  /* Svelte Orange */
  border-radius: 50%;
}

.hero {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70%;
  font-size: 1.3rem;
}

.content {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.hero .content h1 {
  font-size: 7rem;
  /* mix-blend-mode: difference; */
}

.hero .content h4 {
  color: var(--text-secondary);
  font-size: 2rem;
  font-weight: 300;

}


@media screen and (max-width:768px) {
  header {
    gap: 50%;
  }

  .hero .content h1 {
    font-size: 3.8rem;
  }
}


@media screen and (max-width:430px) {
  header {
    gap: 20%;
  }

  .hero .content h1 {
    font-size: 3.8rem;
  }
}