
 @import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
 /* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
  
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */ 


:root{
  --primary:hsl(0,0%,100%);
  --secondary:hsl(0,0%,70%);
  --tertiary : hsl(0,0%,0%);

  color:var(--primary);
  background-color: var(--tertiary);
}


                                      /* Hero */

.hero{
  width:100vw;height:100vh;
  background:var(--tertiary);
  overflow: hidden;
}                           
.container{
  width:100%;height:100%;
  text-align:center;align-content: center;
}
.wrapper{
  width:100%;height:55%;
  display:flex;align-items:center;justify-content:space-between;flex-direction:column;
  position:relative;
}
.wrapper .profile{
  width:80%;
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
  z-index: 2;transition: 700ms ease-out;
}
.wrapper .profile.active{
  width:22%;
  position:absolute;top:50%;left:50%;
  transform:translate(-50%,-50%);
  rotate: -10deg;z-index: 1;
}
.wrapper .profile img{
  width:100%;
}
.hero .name{
  font-size:8rem;
  /* font-family: "Momo Signature", cursive; */
  font-family: "Fascinate", system-ui;
  z-index: 2;
}
.hero .portfolio{
  z-index: 2;
  font-size:6rem;font-family: "Momo Trust Display", sans-serif;
  color:hsl(0,0%,90%)
}

                              /* About  */

.about{
  width:100vw;height:100vh;
  /* display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 1fr); */
  padding:2rem;
  display:flex;justify-content: center;flex-direction: column;gap:2.5rem;
}
.about .title{
  /* grid-row: 1 / 1;
  grid-column: 1/2; */
  font-size:2.5rem;
  text-align: start;
  padding:2rem;
  color:var(--secondary);
}
.about .title .aboutme{
  font-size:4rem;
  color:var(--primary);
  font-family:"Mono Trust Display",sans-serif;
  text-transform: capitalize;
}

.about .img{
  /* grid-column: 3/3;
  grid-row:1/1; */
  flex-basis:20%;
  text-align: center;
}
.about .img svg{
  width:100%;
  filter: drop-shadow(0 0 20px rgba(255,255,255,0.35));fill: rgba(255,255,255,0.9);
}
.about .text{
  flex-basis:55%;
  /* grid-row:2/2;grid-column: 2/3; */
  font-size:1.25rem;text-align:justify;letter-spacing:0.1rem;line-height: 1.7rem;font-weight:500;color:var(--secondary);
}
.about-wrapper{
  width:100%;
  display:flex;align-items: center;gap:2rem;justify-content:center;
}
.hidden{
  opacity: 0;
  scale:.9;
  transform: translateY(-10px);
  transition:1s;
}
.active{
  opacity: 1;
  scale:1;
  transform: translateY(0);
  transition:1s;
}





@media(prefers-color-scheme: light){
  :root{
    background-color: var(--primary);
    color:var(--tertiary);
  }
  .hero{
    background-color: var(--primary);
    color: var(--tertiary);
  }
}


@media screen and (max-width:999px) {
  .hero .name{
    font-size:4rem;
  } 
  .hero .portfolio{
    font-size:3rem;
  }
  .wrapper{
    justify-content:center;gap:7rem;
  }
  .about .title{
    font-size: 1.8rem;
    padding:0 0;
  }     
  .about .title .aboutme{
    font-size: 2.8rem;
  }                     
  .about-wrapper{
    flex-direction: column-reverse;
  }                           
  .about-wrapper .text{
    font-size: 1.2rem;
  }
  .about-wrapper .img svg{
    width:60%;
  }  
}


                        /* Mobile Screen */

@media screen and (max-width:500px) {
  .hero .name{
    font-size:3rem;
  } 
  .hero .portfolio{
    font-size:2rem;
  }
  .wrapper{
    justify-content:center;gap:7rem;
  }



                           /* About */
  .about .title{
    font-size: 1.5rem;
    padding:0 0;
  }     
  .about .title .aboutme{
    font-size: 2.2rem;
  }                     
  .about-wrapper{
    flex-direction: column-reverse;
  }                           
  .about-wrapper .text{
    font-size: 1rem;
  }
  .about-wrapper .img svg{
    width:50%;
  }

}

